@import '/node_modules/open-color/open-color.css';

/**Hidden */
.hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/**Switch Style */
.switch-wrap {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}
.switch-name {
  font-size: 1.2rem;
}
.switch-btn {
  width: 58px;
  height: 32px;
}
.switch-btn .switch-label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: var(--main-bg);
  border: 1px solid var(---bd-lv-1);
  border-radius: 20px;
  transition: 0.2s;
}
.switch-btn .switch-label::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 4px;
  left: 4px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  background-color: var(--oc-white);
  transition: 0.2s;
}
.switch-btn input[type='checkbox'] {
  position: absolute;
  /* width: 100%;
  height: 100%; */
  /* hidden */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  z-index: 2;
}
.switch-btn input[type='checkbox']:checked + .switch-label {
  background: var(--oc-black);
  border-color: var(--oc-black);
}
.switch-btn input[type='checkbox']:checked + .switch-label::before {
  background-color: var(--oc-white);
  left: 28px;
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .switch-wrap {
    justify-content: flex-end;
  }
  .switch-name {
    display: none;
  }
}
