@import '/node_modules/open-color/open-color.css';

.main-wrap {
  background-color: var(--main-bg);
  width: 100%;
  height: 100vh;
  color: var(--txt-df-color);
  .tab-wrap {
    background-color: var(--df-bg);
  }
  .content-wrap {
    padding: 24px;
    padding-bottom: 120px;
    overflow: auto;
    height: calc(100% - 48px);
    position: relative;
    &.attach {
      padding: 0;
      padding-bottom: 120px;
    }
  }
  .tab-on {
    display: inline-block;
    min-width: 240px;
    padding: 12px 24px;
    background-color: var(--main-bg);
    font-size: 1.2rem;
    line-height: 24px;
  }
}

@media screen and (max-width: 768px) {
  .main-wrap {
    height: calc(100vh - 124px);
    margin-top: 124px;
    .tab-wrap {
      display: none;
    }
    .content-wrap {
      height: 100%;
    }
  }
}
