@import '/node_modules/open-color/open-color.css';

.main-wrap {
  background-color: var(--main-bg);
  height: 100vh;
  width: 100%;
  color: var(--txt-df-color);
}
.tab-wrap {
  background-color: var(--df-bg);
}
.content-wrap {
  padding: 24px;
  overflow: auto;
  height: calc(100% - 48px);
  position: relative;
}
.content-wrap.attach {
  padding: 0;
}
.tab-on {
  display: inline-block;
  min-width: 240px;
  padding: 12px 24px;
  background-color: var(--main-bg);
  font-size: 1.2rem;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .main-wrap {
    height: calc(100vh - 156px);
    margin-top: 156px;
  }
  .tab-wrap {
    display: none;
  }
  .content-wrap {
    height: 100%;
  }
}
