@import 'react-calendar/dist/Calendar.css';
@import './font.scss';

.my-calendar-wrap {
  margin-top: 24px;
  .date {
    font-family: 'JetBrains Mono', 'Noto Sans KR';
    span {
      background: var(--oc-grape-1);
      color: var(--oc-grape-9);
      border-radius: 4px;
      padding: 0 2px;
      margin: 0 2px;
    }
  }
}

.react-calendar {
  position: relative;
  width: 100%;
  border: none;
  background: var(--bg-lv1);
  border-radius: 12px;
  padding: 12px;
  margin-top: 1rem;
  color: var(--txt-df-color);
  pointer-events: none;

  .react-calendar__navigation {
    button {
      font-size: 1.4rem;
      &:disabled {
        color: var(--txt-df-color);
        background: transparent;
      }
    }
  }

  .react-calendar__tile {
    padding: 1.2rem 0;
    border-radius: 8px;
    color: var(--txt-df-color);
    font-size: 1.1rem;
  }
  .react-calendar__month-view__days__day--weekend {
    color: var(--oc-red-9);
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: var(--oc-gray-5);
  }
  .react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
  }
  .react-calendar__tile--active {
    background: transparent;
  }
  .react-calendar__tile--active abbr {
    background: var(--oc-grape-1);
    padding: 12px;
    border-radius: 20px;
    color: var(--oc-grape-9);
  }
}
