@import '/node_modules/open-color/open-color.css';

.side-wrap {
  position: relative;
  height: 100vh;
  width: 280px;
  box-sizing: border-box;
  border-right: 1px solid var(--bd-lv-1);
  background-color: var(--df-bg);
  color: var(--txt-df-color);
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    padding: 32px 24px 24px 24px;
    h1 {
      font-size: 1.6rem;
      line-height: 2rem;
      text-align: right;
    }
  }

  .aside {
    padding: 24px 12px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    a {
      margin-bottom: 12px;
      span {
        padding: 8px 12px;
        display: block;
        font-size: 1.2rem;
        line-height: 2rem;
      }
      &.active span,
      &:hover span {
        background-color: var(--df-hover);
        border-radius: 8px;
        transition: 0.2s;
      }
    }
  }

  .footer {
    padding: 24px;
    width: 100%;
    border-top: 1px solid var(--bd-lv-1);
    background-color: var(--df-bg);
  }
}

@media screen and (max-width: 768px) {
  .side-wrap {
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border-right: 0;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    padding: 24px 0 12px;

    .aside {
      width: 100%;
      flex-direction: row;
      align-items: center;
      padding: 0 12px;
      a {
        margin: 0;
      }
    }

    .footer {
      position: absolute;
      width: auto;
      top: 24px;
      right: 24px;
      padding: 0;
      border: none;
      background-color: transparent;
    }
  }
}
