@import '/node_modules/open-color/open-color.css';

/* Theme var */
:root {
  --main-bg: var(--oc-white);
  --df-bg: var(--oc-gray-1);
  --txt-df-color: var(--oc-gray-9);
  --txt-disabled: var(--oc-gray-3);
  --bd-lv-1: var(--oc-gray-4);
  --df-hover: var(--oc-gray-3);
  --df-dimed: var(--oc-black-rgb);
}

[data-theme='dark'] {
  --main-bg: var(--oc-gray-9);
  --df-bg: var(--oc-gray-8);
  --txt-df-color: var(--oc-white);
  --txt-disabled: var(--oc-gray-7);
  --bd-lv-1: var(--oc-gray-7);
  --df-hover: var(--oc-gray-7);
}
